<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.secwallet.users.dao.UserInfoMapper">
	<select id="findUserInfoByPhone" resultType="org.secwallet.commonmodel.entity.UserInfo">
		SELECT
		id,
		nick_name nickName,
		head_image headImage,
		token,
		login_password loginPassword,
		vip_level vipLevel,
		xp,
		mobile
		from user_info WHERE mobile = #{mobile}
	</select>
	<update id="updateUserToken">
		update user_info set token=#{token} where id=#{id};
	</update>

</mapper>
